<p id="notice"><%= notice %></p>

<h1>Articles</h1>
<%= form_for articles_path, method: :get do |f| %>
    <p>
      <%= f.label "Search for" %>
      <%= text_field_tag :q, params[:q] %>
      <%= submit_tag "Go", name: nil %>
    </p>
<% end %>

<% if @articles.present? %>
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @articles.each do |article| %>
          <tr>
            <td>
              <% if article.try(:highlight).try(:title) %>
                <% article.highlight.title.each do |snippet| %>
                    <p><%= snippet.html_safe %>...</p>
                <% end %>
              <% else %>
                <%= article.title %>
              <% end %>
            </td>
            <td>
              <% if article.try(:highlight).try(:subtitle) %>
                <% article.highlight.subtitle.each do |snippet| %>
                  <p><%= snippet.html_safe %>...</p>
                <% end %>
              <% else %>
                <%= article.subtitle %>
              <% end %></td>
            <td>
              <% if article.try(:highlight).try(:content) %>
                <% article.highlight.content.each do |snippet| %>
                    <p><%= snippet.html_safe %>...</p>
                <% end %>
              <% else %>
                <%= article.content %>
              <% end %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <h1>No articles found</h1>
<% end %>



<br>

<%= link_to 'New Article', new_article_path %>
